<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="main.css">
        </script>

    </head>
    <body>

      <div class="header">
          <ul class="nav">
              <li><a href="horario.html">Visualizar horario</a></li>
              <li><a href="agregarActividad.html">Agregar actividades</a></li>
              <li><a href="registrarUsuario.html">Registrar usuario (Temporal)</a></li>
          </ul>
      </div>


        <h2>Introducir datos para crear agenda con activiades</h2>

        <form>
            <div class="usuario">
                <h3>Datos personales</h3>
                <label for="Nombre">Introducir nombre</label>
                <input type="text" id="nombre">
                <label for="Matricula">Introducir numero de estudiante</label>
                <input type="text" id="matricula">
                <label for="Edad">Introducir edad</label>
                <input type="text" id="edad">
                <label for="Edad">Introducir correo</label>
                <input type="email" id="correo">
            </div>

            <input type="submit" value="Agregar usuario" >
        </form>


    </body>
</html>
